@import url("https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.fonte1 {
  /*usados atualmente por sobre e descubra*/
  font-family: "kanit", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.fonte2 {
  /*logo*/
  font-family: "kalnia", serif;
  font-size: 300%;
  font-weight: 700;
}
.fonte3 {
  /*footer*/
  font-family: "kalnia", serif;
  font-size: 300%;
  font-weight: 700;
  color: white;
}

a {
  color: black;
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  border: 0px;
  margin: 0px;
  padding: 0px;

  background-color: rgb(255, 249, 240);
}

header {
  width: 100%;
  height: auto;

  /*border: 2px double yellowgreen;*/
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

.header1 {
  z-index: 10;

  height: 85px;
  width: 100%;
  background-color: rgb(222, 195, 255);
  box-sizing: border-box;

  position: fixed;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0px 30px;
}
.logo {
  flex: 0;
  background-color: rgb(241, 241, 241);

  height: 60px;
  width: 156.5px;
}
.outros {
  display: flex;
  flex: 0;

  box-sizing: border-box;

  height: 60px;

  gap: 12px;

  /*background-color: lightseagreen;*/

  justify-content: space-between;
  align-items: center;

  padding: 5px 15px 5px 15px;
}
.outroslayout {
  display: flex;
  flex: 0 1 auto;
}
.outroslayout:hover {
  color: white;
  transition: 0.2s;
}
.conta {
  display: flex;
  flex: 0 1 auto;

  width: 50px;
  height: 50px;

  margin-left: 15px;

  background-color: rgb(255, 255, 255);
  border-radius: 50px;
}

.navbar {
  height: auto;
  width: 700px;
  z-index: 11;

  display: flex;
  flex: 0;

  transform: translateY(120px);

  flex-direction: column;

  box-sizing: border-box;
  transition: 0.5s;
}
.navbar form {
  display: flex;
}

.navbar.fixed {
  transform: translateY(-0px);
  transition: 0.5s;
  width: 700px;
}
.navbar.fixed .barra {
  width: 700px;
  transition: 0.5s;
}
.navbar.fixed .barra:focus {
  transform: translateY(105px);
  transition: 0.5s;
}
.barra {
  flex-shrink: 0;
  height: 40px;
  width: 750px;
  box-sizing: border-box;

  border: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;

  padding-left: 15px;

  font-size: 18px;

  background-color: rgb(218, 218, 218);

  position: relative;
  z-index: 2;
  transition: 0.5s;

  box-shadow: 0px 2px 5px rgb(121, 121, 121);
}
.barra:focus {
  background-color: rgb(236, 236, 236);
  border-style: none;
  outline: none;

  box-shadow: 0px 2px 5px rgb(121, 121, 121);
}
.btnPesq {
  border: none;

  display: flex;
  justify-items: center;
  justify-content: space-around;
  align-items: center;

  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;

  /*padding: 0px 40px 0px 10px;*/
  box-sizing: border-box;

  background-color: rgb(184, 184, 184);

  box-shadow: 0px 2px 5px rgb(121, 121, 121);
  flex-shrink: 0;

  width: 50px;
  height: 40px;

  transition: 0.5s;
}
.btnPesq:hover {
  background-color: rgb(236, 236, 236);
  transition: 0.5s;
}
.btnPesq img {
  width: 22px;
}
.opcoes {
  position: absolute;
  z-index: 1;

  display: none;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 300px;
  grid-template-areas: "barralateral pesquisa";

  transform: translateY(50px);

  align-self: flex-start;

  border-radius: 20px;
  box-sizing: border-box;

  box-shadow: 2px 2px 10px rgb(121, 121, 121);

  height: 300px;
  width: 800px;

  background-color: white;
}
.opcoes.visible {
  display: grid;

  opacity: 1;
  visibility: visible;
}
.barralateral {
  /*background-color: rgb(54, 137, 221);*/
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;

  padding: 10px 0px 10px 0px;
  padding-left: 30px;

  border-right: 1px solid rgb(80, 80, 80);
}
.listgen {
  list-style: none;
  padding: 0px 5px;
  margin-right: 10px;
}
.listgen li {
  margin: 15px 0px;
}
.listgen li span {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
}

.listpes {
  margin-top: 16px;
  list-style: none;
  padding: 0px 10px 0px 10px;
}
.listpes span {
  font-family: "Kanit";
  font-weight: 300;
}
.listpes li {
  padding: 10px 0px 10px 0px;
}
.listpes li:hover {
  background-color: rgb(236, 236, 236);
}

.pesquisa {
  grid: pesquisa;
  box-sizing: border-box;
}
.itensopc {
  font-size: 18px;
  margin-bottom: 5px;
}

.preperfil {
  display: none;
  flex-direction: column;

  position: absolute;
  box-sizing: border-box;

  width: 240px;
  height: 320px;
  background-color: rgb(238, 238, 238);

  transform: translate(-79.2%, 50px);

  box-shadow: 0px 2px 5px rgb(121, 121, 121);

  z-index: 100;
}
.preperfil.visivel {
  display: flex;
}
.backperf {
  position: relative;
  background-color: rgb(134, 134, 134);
  width: 100%;
  height: 100px;
}
.fotoperf {
  display: flex;
  position: absolute;

  left: 135px;
  top: 50px;

  width: 90px;
  height: 90px;
  border-radius: 70px;
  background-color: rgb(114, 114, 114);
}
.linksperf {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;

  height: 220px;
  width: 100%;

  padding-top: 20px;
  padding-left: 15px;
  padding-bottom: 15px;
  gap: 2px;

  justify-content: space-between;
}
.linksperf span {
  font-family: "kanit", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

/* BODY E MAIN */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #f4f4f4;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 250px;
  padding: 20px;
}

.box {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  color: #333;
  text-align: center;
}

main {
  height: 100%;
  margin: 40px 20px 40px 20px;
}

/* FOOTER */

.footer {
  background-color: rgb(107, 107, 107);
  display: flex;
  flex-direction: column;

  height: 250px;
  padding: 40px 50px;
}
#titulofooter {
  color: white;
}

.footer1 {
  display: flex;
  flex: 1 0 auto;

  justify-content: space-between;

  gap: 15px;
}
.links {
  display: flex;
  width: 600px;

  box-sizing: border-box;

  gap: 10px;
}
.sectfoot {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;

  width: 200px;

  box-sizing: border-box;
  padding: 30px 0px 0px 20px;

  font-family: "Kanit", sans-serif;
  font-weight: 300;
  color: white;
}
.sectfoot ul {
  list-style: none;
  padding: 0;

  margin-top: 10px;
}
.sectfoot a {
  color: white;
}
.sectfoot a:hover {
  text-decoration: underline;
}
.sectfoot span {
  font-weight: 400;
  font-size: 20px;
}

.redessociais {
  display: flex;

  width: 250px;

  flex-direction: column;

  padding-top: 30px;
}
.redessociais img {
  width: 40px;
}
.redessociais span {
  font-family: "Kanit";
  color: white;
  font-weight: 400;
  font-size: 20px;
}
.linksRedSoc {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}

.instalar {
  display: flex;
  flex-direction: column;

  padding: 30px 20px 0px 0px;
}
.instalar img {
  height: 45px;
}
.instalar span {
  font-family: "Kanit";
  color: white;
  font-weight: 400;
  font-size: 20px;
}
.linksInst {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
