@import url("https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    margin: 0;
    font-family: "kanit", sans-serif;
}

body * {
    box-sizing: border-box;
}

.principal {
    width: 100vw;
    height: 100vh;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;

}

.tela-esquerda {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tela-esquerda>h1 {
    color: black;
    font-size: 3vw;
}

.img-esquerda {
    width: 30vw;
}

.tela-direita {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: rgb(107, 107, 107);
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.box-login>h1 {
    color: rgb(222, 195, 255);
    font-weight: 800;
    margin: 0;
}


form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

form>input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: rgb(222, 195, 255);
    font-size: 12pt;
    box-shadow: 0px 10px 40px rgb(158, 139, 182);
    box-sizing: border-box;
}

.form>label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

.form>input::placeholder {
    color: #f0ffff94;
}

.botao {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: rgb(222, 195, 255);
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px rgb(158, 139, 182);
}

@media only screen and (max-width: 960px) {
    .box-login {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    .principal {
        flex-direction: column;
    }

    .tela-esquerda>h1 {
        display: none;
    }

    .tela-direita {
        width: 100%;
        height: auto;
    }

    .tela-esquerda {
        width: 100%;
        height: auto;
    }

    .img-esquerda {
        width: 50vw;
    }

    .box-login {
        width: 90%;
    }
}